<div class="container1">
	<form action="" class="search-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="repoName" name="repository" (keyup)="findRepository()">
	</div>
</form>
<div class="alert alert-secondary">
 <div class="container">
        <div class="row">
			
            <div class="col-md-12" *ngFor='let repos of myRepos'>
                
                    <h4 class="alert-secondary">{{repos.name}}</h4>
                    <h6 class="alert-secondary">Fork <span class="show">{{repos.forks_count}}</span>     Github Home <span class="show">{{repos.homepage}}</span></h6>
                    <p>{{repos.description}}</p>
                    <hr>
                    <p>{{repos.created_at}}</p>
                    <p class="mb-0"><a href="{{repos.html_url}}" target="blank" class="alert-link">Click to see Project</a></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  </div>
            </div>
        </div>
   




