<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero">
        <h2>Find Your Github Profiles</h2>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium aut molestiae aliquid!</p>
        <p>huiihhi</p>
      </div>
    </div>
    <div class="row" id="userSearch">
      <div class="col-md-12 col-xs-12 col-sm-12 text-center">
        <div id="search" class="btn-group" role="group" aria-label="Basic example">
          <button class="repository" class="btn btn-success" routerLink="/repository">Search by repo</button>
        </div>

      </div>
    </div>


  </div>
</div>